{% extends "courier_mb/layout.html" %}
{% load static from staticfiles %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/drop_down_menu.js' %}"></script>
{% endblock %}

{% block title %}CourierMB{% endblock %}
{% block content %}
    <nav id="menu_nav">
      <ul>
        <li>
          <a href="#">SEND</a>
          <ul class="fallback">
            <li><a href="{% url 'courier_mb:send_package_page' %}">send international package</a></li>
            <li><a href="#">send local package</a></li>
          </ul>
        </li>
        <li>
          <a href="#">TRACK</a>
          <ul class="fallback">
            <li><a href="#">track your package</a></li>
            <li><a href="#">track your package in country</a></li>
          </ul>
        </li>
          <li>
          <a href="#">CONTACT</a>
          <ul class="fallback">
          </ul>
        </li>
          <li>
              <a href="#">ABOUT US</a>
              <ul class="fallback">
              </ul>
        </li>
      </ul>
    </nav>
    <div>
        <img src="{% static 'images/home_photo_2.jpg' %}" alt="Home view" style="width:100%;height:auto">
    </div>
    <div id="home_info_section">
        <p>
            Air Freight is the fastest way to deliver goods to a specific destination worldwide.
        </p>
        <p>
            Air transport alongside maritime and road transport and agencies
             Customs is one of the basic services provided to our customers by our company.
        </p>
        <p>
            CourierMB offers reliable air freight services for all high-priority shipments - completely according to individual needs.
            We provide complete services for air freight solutions: standard products,
            express mail, charters, on board couriers, door-to-door delivery, heavy goods transport, dangerous goods transport, cargo charters, perishable goods.
        </p>
        <p>
            In our company we offer:
        </p>
        <p>
           <ol id="home_offer_list">
                <li>Direct shipping and delivery to all major world airports in import and export</li>
                <li>Delivery: door to door, airport to airport, airport to door, airport to airport and any delivery terms according to INCOTRMS</li>
                <li>Air freight perishable goods.</li>
                <li>Air freight DGR goods</li>
                <li>Air freight valuation VAL</li>
                <li>Air freight airport property.</li>
                <li>Freight of other untypical goods</li>
                <li>Freight of goods for fairs and exhibitions (ATA carnet)</li>
            </ol>
        </p>
    </div>
{% endblock %}