{% extends "layout.html" %}
{% load static from staticfiles %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/package_type.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="{% static 'js/package_details.js' %}"></script>
{% endblock %}

<!-- 16.51 -->
{% block content %}
    <div style="width: 100%">
        <div id="packages_area" style="display: unset;">
            <h1>Pick your package</h1>
            <img src="{% static 'images/package_1.png' %}" alt="box" onclick="handle_package_page('package_1.png', this.alt)"/>
            <img src="{% static 'images/package_2.png' %}" alt="pack" onclick="handle_package_page('package_2.png', this.alt)"/>
            <img src="{% static 'images/package_3.png' %}" alt="envelope" onclick="handle_package_page('package_3.png', this.alt)"/>
        </div>
        <span id="selected_package_type" style="display: none;">
            <div id="selected_pkg_img">
                <h1>Pick your options</h1>
                 <hr>
                <img id="selected_pkg" src="" alt="Package"/>
                 <hr>
                <button class="button" onclick="go_to_previous_page(this)">Change type</button>
            </div>
            <div id="selected_pkg_details">
                <div>
                    <h1>Package name</h1>
                </div>
                <hr>
                <div>
                    <h2 id="package_size">Package size</h2>
                </div>
                <div>
                    <h1>Package details</h1>
                </div>
                <hr>
                <div>
                    <p style="display: inline-block; width: 40%;">Package weight</p><input style="width: 50%;" type="text" />
                </div>
                <div>
                    <p style="display: inline-block; width: 40%;">Transport value</p><input style="width: 50%" type="text" />
                </div>
                <div>
                    <button class="button">Check price</button>
                </div>

                {% comment %}<div>
                    <button onclick="show_duty_area()">Continue</button>
                </div>{% endcomment %}
            </div>
            <div class="date-and-hour-section">
                Pick your date and hour of deliverance.
            </div>
        </span>
        <div id="duty_info" style="display: none;">
            <div>
                <h1>Opisz zawartość przesyłki do odprawy celnej.</h1>
            </div>
            <div>
                <h2>Informacje te pozwalają usprawnić odprawę celną przesyłki.</h2>
            </div>
            <hr>
            <div style="background-color: lightgray;">
                <h1>Products</h1>
                <p>Produkty to towary i przedmioty do użytku własnego i komercyjnego.</p>
                <select>
                     <option value="trade">trade</option>
                     <option value="gift">gift</option>
                     <option value="sample">sample</option>
                     <option value="stuff">personal stuff</option>
                </select>
            </div>
            <div>
                <button class="button" onclick="go_to_previous_page(this)">change package type</button>
            </div>
            <div>
                <button onclick="show_payment_area()">Continue</button>
            </div>
        </div>
        <div id="payment_area" style="display: none;">
            <div>
                <p>This is a biling area</p>
            </div>
            <div>
                <button class="button" onclick="go_to_previous_page(this)">change duty info</button>
            </div>
            <div>
                <button onclick="show_conf_area()">Continue</button>
            </div>
        </div>
        <div id="confirmation_area" style="display: none;">
            <div>
                <p>This is a conf area</p>
            </div>
            <div>
                <button class="button" onclick="go_to_previous_page(this)">change your payment details</button>
            </div>
        </div>
    </div>
    {{ clean_data }}
{% endblock %}